
@{
    ViewBag.Title = "Issues List";
}

<h2>Here you can see an Issues List</h2>

<a class="btn border" style="margin-bottom: 10px"><i class="fa fa-plus"></i>Add New</a>
<table id="issuesList" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Issue</th>
            <th>Description</th>
            <th>State</th>
            <th>Date Created</th>

        </tr>
    </thead>
</table>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
@section scripts{


    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function()
        {
            $("#issuesList").DataTable({
                "ajax": {
                    "url": "IssuesList/CollectIssuesList",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Id", "orderable": false },
                    { "data": "Description", "orderable": false  },
                    { "data": "State", "orderable": true},
                    { "data": "DateCreated", "orderable": true}
                ]
            });
        
    });
    </script>>
}